# ==============================================================================
# Tirenn Commerce Infrastructure & QA - CODEOWNERS
# ==============================================================================
* @tirenn tiorenndy@gmail.com

/qa/ @tirenn
